<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.satoshun.example.feature.main">

  <application>
    <activity
      android:name=".MainActivity"
      android:label="@string/main_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
